In [428]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression

In [429]:
#https://github.com/aCombray/mpg/blob/master/Python_Homework7_YuechengZhu.ipynb

In [430]:
df=pd.read_csv('auto-mpg.txt', sep="\s+", header=None)

In [431]:
df.head(3)

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite

In [432]:
df.shape

(398, 9)

In [433]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
0    398 non-null float64
1    398 non-null int64
2    398 non-null float64
3    398 non-null object
4    398 non-null float64
5    398 non-null float64
6    398 non-null int64
7    398 non-null int64
8    398 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [434]:
df.isnull().sum(axis=0)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [435]:
#CLEANING THE DATA
df.columns=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'model']

In [436]:

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,model
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [437]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null float64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null int64
model           398 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [438]:
df['horsepower']=df['horsepower'].convert_objects(convert_numeric=True)

C:\Users\SONY\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [439]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null float64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null int64
model           398 non-null object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [440]:
df.isnull().any()

mpg             False
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model_year      False
origin          False
model           False
dtype: bool

In [441]:
df[df['horsepower'].isnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,model
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl

In [442]:
mean=np.mean(df['horsepower'])

In [443]:
df[df['horsepower'].isnull()]= mean

In [444]:
df.isnull().any()

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model_year      False
origin          False
model           False
dtype: bool

In [445]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,24.667378,6.964363,193.056071,104.469388,2934.270895,16.881951,76.409086,3.127679
std,12.558579,12.196356,104.428395,38.199187,912.938882,11.189901,5.044495,12.578993
min,9.000000,3.000000,68.000000,46.000000,104.469388,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.469388,76.000000,2216.000000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,95.000000,2789.500000,15.500000,76.000000,1.000000
75%,29.500000,8.000000,262.000000,125.000000,3608.000000,17.300000,79.000000,2.000000
max,104.469388,104.469388,455.000000,230.000000,5140.000000,104.469388,104.469388,104.469388

In [446]:

df['model'].unique()

array(['chevrolet chevelle malibu', 'buick skylark 320',
       'plymouth satellite', 'amc rebel sst', 'ford torino',
       'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii',
       'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se',
       "plymouth 'cuda 340", 'chevrolet monte carlo',
       'buick estate wagon (sw)', 'toyota corona mark ii',
       'plymouth duster', 'amc hornet', 'ford maverick', 'datsun pl510',
       'volkswagen 1131 deluxe sedan', 'peugeot 504', 'audi 100 ls',
       'saab 99e', 'bmw 2002', 'amc gremlin', 'ford f250', 'chevy c20',
       'dodge d200', 'hi 1200d', 'chevrolet vega 2300', 'toyota corona',
       104.46938775510205, 'plymouth satellite custom', 'ford torino 500',
       'amc matador', 'pontiac catalina brougham', 'dodge monaco (sw)',
       'ford country squire (sw)', 'pontiac safari (sw)',
       'amc hornet sportabout (sw)', 'chevrolet vega (sw)',
       'pontiac firebird', 'ford mustang', 'mercury capri 2000',
       'opel 1900', 'peugeot 304', 'fiat 124b', 'toyota corolla 1200',
       'datsun 1200', 'volkswagen model 111', 'plymouth cricket',
       'toyota corona hardtop', 'dodge colt hardtop', 'volkswagen type 3',
       'chevrolet vega', 'ford pinto runabout', 'amc ambassador sst',
       'mercury marquis', 'buick lesabre custom',
       'oldsmobile delta 88 royale', 'chrysler newport royal',
       'mazda rx2 coupe', 'amc matador (sw)',
       'chevrolet chevelle concours (sw)', 'ford gran torino (sw)',
       'plymouth satellite custom (sw)', 'volvo 145e (sw)',
       'volkswagen 411 (sw)', 'peugeot 504 (sw)', 'renault 12 (sw)',
       'ford pinto (sw)', 'datsun 510 (sw)',
       'toyouta corona mark ii (sw)', 'dodge colt (sw)',
       'toyota corolla 1600 (sw)', 'buick century 350',
       'chevrolet malibu', 'ford gran torino', 'dodge coronet custom',
       'mercury marquis brougham', 'chevrolet caprice classic',
       'ford ltd', 'plymouth fury gran sedan',
       'chrysler new yorker brougham', 'buick electra 225 custom',
       'amc ambassador brougham', 'plymouth valiant',
       'chevrolet nova custom', 'volkswagen super beetle', 'ford country',
       'plymouth custom suburb', 'oldsmobile vista cruiser',
       'toyota carina', 'datsun 610', 'maxda rx3', 'ford pinto',
       'mercury capri v6', 'fiat 124 sport coupe',
       'chevrolet monte carlo s', 'pontiac grand prix', 'fiat 128',
       'opel manta', 'audi 100ls', 'volvo 144ea', 'dodge dart custom',
       'saab 99le', 'toyota mark ii', 'oldsmobile omega',
       'chevrolet nova', 'datsun b210',
       'chevrolet chevelle malibu classic', 'plymouth satellite sebring',
       'buick century luxus (sw)', 'dodge coronet custom (sw)',
       'audi fox', 'volkswagen dasher', 'datsun 710', 'dodge colt',
       'fiat 124 tc', 'honda civic', 'subaru', 'fiat x1.9',
       'plymouth valiant custom', 'mercury monarch', 'chevrolet bel air',
       'plymouth grand fury', 'buick century',
       'chevroelt chevelle malibu', 'plymouth fury', 'buick skyhawk',
       'chevrolet monza 2+2', 'ford mustang ii', 'toyota corolla',
       'pontiac astro', 'volkswagen rabbit', 'amc pacer', 'volvo 244dl',
       'honda civic cvcc', 'fiat 131', 'capri ii', 'renault 12tl',
       'dodge coronet brougham', 'chevrolet chevette', 'chevrolet woody',
       'vw rabbit', 'dodge aspen se', 'ford granada ghia',
       'pontiac ventura sj', 'amc pacer d/l', 'datsun b-210', 'volvo 245',
       'plymouth volare premier v8', 'mercedes-benz 280s',
       'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100',
       'honda accord cvcc', 'buick opel isuzu deluxe', 'renault 5 gtl',
       'plymouth arrow gs', 'datsun f-10 hatchback',
       'oldsmobile cutlass supreme', 'dodge monaco brougham',
       'mercury cougar brougham', 'chevrolet concours', 'buick skylark',
       'plymouth volare custom', 'ford granada', 'pontiac grand prix lj',
       'chevrolet monte carlo landau', 'chrysler cordoba',
       'ford thunderbird', 'volkswagen rabbit custom',
       'pontiac sunbird coupe', 'toyota corolla liftback',
       'ford mustang ii 2+2', 'dodge colt m/m', 'subaru dl', 'datsun 810',
       'bmw 320i', 'mazda rx-4', 'volkswagen rabbit custom diesel',
       'ford fiesta', 'mazda glc deluxe', 'datsun b210 gx',
       'oldsmobile cutlass salon brougham', 'dodge diplomat',
       'mercury monarch ghia', 'pontiac phoenix lj',
       'ford fairmont (auto)', 'ford fairmont (man)', 'plymouth volare',
       'amc concord', 'buick century special', 'mercury zephyr',
       'dodge aspen', 'amc concord d/l',
       'buick regal sport coupe (turbo)', 'ford futura',
       'dodge magnum xe', 'datsun 510', 'dodge omni',
       'toyota celica gt liftback', 'plymouth sapporo',
       'oldsmobile starfire sx', 'datsun 200-sx', 'audi 5000',
       'volvo 264gl', 'saab 99gle', 'peugeot 604sl',
       'volkswagen scirocco', 'honda accord lx', 'pontiac lemans v6',
       'mercury zephyr 6', 'ford fairmont 4', 'amc concord dl 6',
       'dodge aspen 6', 'ford ltd landau', 'mercury grand marquis',
       'dodge st. regis', 'chevrolet malibu classic (sw)',
       'chrysler lebaron town @ country (sw)', 'vw rabbit custom',
       'maxda glc deluxe', 'dodge colt hatchback custom', 'amc spirit dl',
       'mercedes benz 300d', 'cadillac eldorado', 'plymouth horizon',
       'plymouth horizon tc3', 'datsun 210', 'fiat strada custom',
       'buick skylark limited', 'chevrolet citation',
       'oldsmobile omega brougham', 'pontiac phoenix',
       'toyota corolla tercel', 'datsun 310', 'ford fairmont',
       'audi 4000', 'toyota corona liftback', 'mazda 626',
       'datsun 510 hatchback', 'mazda glc', 'vw rabbit c (diesel)',
       'vw dasher (diesel)', 'audi 5000s (diesel)', 'mercedes-benz 240d',
       'honda civic 1500 gl', 'vokswagen rabbit', 'datsun 280-zx',
       'mazda rx-7 gs', 'triumph tr7 coupe', 'honda accord',
       'plymouth reliant', 'dodge aries wagon (sw)', 'toyota starlet',
       'plymouth champ', 'honda civic 1300', 'datsun 210 mpg',
       'toyota tercel', 'mazda glc 4', 'plymouth horizon 4',
       'ford escort 4w', 'ford escort 2h', 'volkswagen jetta',
       'honda prelude', 'datsun 200sx', 'peugeot 505s turbo diesel',
       'volvo diesel', 'toyota cressida', 'datsun 810 maxima',
       'oldsmobile cutlass ls', 'ford granada gl',
       'chrysler lebaron salon', 'chevrolet cavalier',
       'chevrolet cavalier wagon', 'chevrolet cavalier 2-door',
       'pontiac j2000 se hatchback', 'dodge aries se',
       'ford fairmont futura', 'volkswagen rabbit l',
       'mazda glc custom l', 'mazda glc custom', 'plymouth horizon miser',
       'mercury lynx l', 'nissan stanza xe', 'honda civic (auto)',
       'datsun 310 gx', 'buick century limited',
       'oldsmobile cutlass ciera (diesel)', 'chrysler lebaron medallion',
       'ford granada l', 'toyota celica gt', 'dodge charger 2.2',
       'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'], dtype=object)

In [447]:
from sklearn.preprocessing import LabelEncoder
#from sklearn.preprocessing import OneHotEncoder

enc = LabelEncoder()
df["model"] = enc.fit_transform(df["model"].astype(str))

In [448]:
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,model
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,49
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,36
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,230

In [449]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null float64
displacement    398 non-null float64
horsepower      398 non-null float64
weight          398 non-null float64
acceleration    398 non-null float64
model_year      398 non-null float64
origin          398 non-null float64
model           398 non-null int64
dtypes: float64(8), int64(1)
memory usage: 28.1 KB

In [450]:
df["model"]=df["model"]*1.0

In [451]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null float64
displacement    398 non-null float64
horsepower      398 non-null float64
weight          398 non-null float64
acceleration    398 non-null float64
model_year      398 non-null float64
origin          398 non-null float64
model           398 non-null float64
dtypes: float64(9)
memory usage: 28.1 KB

In [452]:
from sklearn import preprocessing

In [453]:
X = df.drop(columns="mpg")
y = df['mpg']

In [454]:
from sklearn.model_selection import train_test_split

In [455]:
X_train, X_test, Y_train, Y_test = train_test_split(normalized_X,y,test_size=.30)

In [464]:
X_true= np.array(X_train)

In [465]:
y_true= np.array(Y_train)

In [466]:
y_true= y_true.reshape(278,1)

In [467]:
x_test= np.array(X_test)
y_test= np.array(Y_test)

In [509]:
X_in = tf.placeholder(tf.float32, [278, n_features], "X_in")
w = tf.Variable(tf.random_normal((n_features, 1)), name="w")
b = tf.Variable(tf.constant(0.1, shape=[]), name="b")
h = tf.add(tf.matmul(X_in, w), b, name="h")


y_in = tf.placeholder(tf.float32, [278, 1], "y_in")


loss_op = tf.reduce_mean(tf.square(tf.subtract(y_in, h)), name="loss")
train_op = tf.train.GradientDescentOptimizer(0.000001).minimize(loss_op)

with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(5):
        sess.run(train_op, feed_dict={
          X_in: X_true, 
          y_in: y_true
        })
    w_computed = sess.run(w)
    b_computed = sess.run(b)

In [510]:
print("w computed [%s]" % ', '.join(['%.5f' % x for x in w_computed.flatten()]))
print("b computed %.3f" % b_computed)

w computed [-0.11026, 0.42364, 1.94853, 0.37231, 1.48786, -0.44486, 0.75020, 1.96915]
b computed 0.100

In [511]:
y_hat = X_test.dot(w_computed)+b_computed

In [512]:
y_hat=np.concatenate(np.array(y_hat))

In [513]:
y_test

array([ 36.4       ,  17.7       ,  25.4       , 104.46938776,
        11.        ,  20.        ,  37.        ,  28.1       ,
        19.        ,  22.        ,  36.1       ,  18.        ,
        25.4       ,  31.        ,  13.        ,  23.        ,
        16.        ,  20.8       ,  24.        ,  20.2       ,
        15.        ,  13.        ,  27.        ,  17.5       ,
        20.6       ,  21.        ,  34.5       ,  28.        ,
        13.        ,  28.        ,  38.        ,  27.2       ,
        31.        ,  36.1       ,  43.4       ,  25.        ,
        15.        ,  29.8       ,  15.        ,  34.7       ,
        28.        ,  24.        ,  14.        ,  32.1       ,
        43.1       ,  20.6       ,  12.        ,  15.        ,
        19.        ,  17.5       ,  25.        ,  18.2       ,
        16.        ,  13.        ,  31.8       ,  13.        ,
        14.        ,  18.1       ,  21.        ,  24.        ,
        28.        ,  44.6       ,  25.        ,  38.        ,
        21.1       ,  17.        ,  35.7       ,  18.        ,
        15.        ,  23.        ,  34.4       ,  25.        ,
        27.        ,  11.        ,  26.        ,  22.        ,
        24.        ,  32.        ,  18.5       ,  19.8       ,
        22.        ,  15.        ,  26.        ,  13.        ,
        20.        ,  13.        ,  14.        ,  24.5       ,
        38.        ,  12.        ,  11.        ,  32.7       ,
        23.        ,  28.        ,  15.5       ,  19.        ,
        14.        , 104.46938776,  14.5       ,  20.        ,
        16.        ,  29.        , 104.46938776,  20.        ,
        26.        ,  29.5       ,  31.5       ,  44.3       ,
        32.        ,  19.2       ,  33.        ,  18.        ,
        22.        ,  13.        ,  27.        ,  17.        ,
        30.        ,  19.        ,  26.        ,  24.        ])

In [514]:
y_hat

array([0.54514438, 0.60700268, 0.74959511, 1.773638  , 0.5820279 ,
       0.76343799, 0.63026932, 0.66499621, 0.64746285, 0.67777029,
       0.70820904, 0.65638578, 0.63616703, 0.64630458, 0.69269129,
       0.7760255 , 0.71976842, 0.67320699, 0.66938694, 0.55606757,
       0.65183006, 0.66313179, 0.57775007, 0.59492094, 0.57357393,
       0.57074049, 0.75348286, 0.59475529, 0.5816274 , 0.65307017,
       0.63215422, 0.73231367, 0.59598901, 0.73556251, 0.77321997,
       0.59019931, 0.59462716, 0.74571016, 0.6360696 , 0.73726743,
       0.66368722, 0.7541357 , 0.58618619, 0.59676039, 0.81287625,
       0.61782921, 0.65960712, 0.58090252, 0.70277952, 0.62218929,
       0.59794279, 0.63225097, 0.61963619, 0.63288189, 0.62615422,
       0.6020058 , 0.67743725, 0.57072665, 0.67746822, 0.57183369,
       0.62719442, 0.73226103, 0.77340141, 0.71491074, 0.76420065,
       0.56293365, 0.67498188, 0.65654786, 0.65979423, 0.72935197,
       0.67265224, 0.58321131, 0.73029918, 0.70884721, 0.77152826,
       0.59551767, 0.78668479, 0.64403856, 0.69018012, 0.67970363,
       0.69801395, 0.60452562, 0.82182624, 0.6784343 , 0.78348696,
       0.62754507, 0.63181903, 0.60424277, 0.68600457, 0.65736168,
       0.64214804, 0.63249825, 0.70706276, 0.78954976, 0.56402141,
       0.67620262, 0.68334984, 1.773638  , 0.6382867 , 0.57268079,
       0.70109334, 0.58803918, 1.773638  , 0.60248691, 0.61417479,
       0.69925932, 0.83085673, 0.80924566, 0.66018809, 0.59663473,
       0.72592272, 0.70995766, 0.76436944, 0.622159  , 0.78104118,
       0.67215099, 0.67299087, 0.56112042, 0.67602499, 0.74920572])

In [515]:
pd.DataFrame([y_test,y_hat])

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,36.400000,17.700000,25.400000,104.469388,11.000000,20.000000,37.000000,28.100000,19.000000,22.00000,...,33.000000,18.000000,22.000000,13.000000,27.000000,17.000000,30.000000,19.00000,26.000000,24.000000
1,0.545144,0.607003,0.749595,1.773638,0.582028,0.763438,0.630269,0.664996,0.647463,0.67777,...,0.725923,0.709958,0.764369,0.622159,0.781041,0.672151,0.672991,0.56112,0.676025,0.749206